<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>实习对接系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'practice/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'practice/css/xadmin.css' %}">
    <link rel="stylesheet" href="{% static 'practice/css/swiper.min.css' %}">
    <script type="text/javascript" src="{% static 'practice/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'practice/js/swiper.jquery.min.js' %}"></script>
    <script src="{% static 'practice/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'practice/js/xadmin.js' %}"></script>

</head>
<body>
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" method="post" action="/practice/enterprise/addjob/">
                {% csrf_token %}
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">职位名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="job_name" value="{{ job.job_name }}" required="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">招聘人数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="employ_num" value="{{ job.employ_num }}" lay-verify="number" required="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">薪水</label>
                        <div class="layui-input-inline">
                            <input type="text" name="salary" value="{{ job.salary }}" lay-verify="number" required="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">工作小时</label>
                        <div class="layui-input-inline">
                            <input type="text" name="job_time" value="{{ job.job_time }}" lay-verify="number" required="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">职位描述</label>
                        <div class="layui-input-block">
                            <textarea name="job_desc" placeholder="请输入内容" class="layui-textarea" >{{ job.job_desc }}</textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
</body>
</html>