{% extends 'practice/template.html' %}

<!--主框架信息块-->
{% block frame %}
<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="default">账号信息</a></legend>
</fieldset>
<table class="layui-table">
    <thead>
        <tr>
            <th colspan="2" scope="col">信息</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in information.items %}
        <tr>
            <th width="30%">{{ key }}</th>
            {% if key == '简历' %}
                <td><span><a href="{{ value }}">{{ value }}</a></span></td>
            {% else %}
                <td><span>{{ value }}</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}