{% extends 'practice/template.html' %}

<!--主框架信息块-->
{% block frame %}
<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="default">账号信息</a></legend>
</fieldset>
<table class="layui-table">
    <thead>
        <tr>
            <th colspan="2" scope="col">信息</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in information %}
        <tr>
            <th width="30%">{{ key }}</th>
            <td><span id="lbServerName">{{ value }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}