{% extends 'practice/template.html' %}

{% block frame %}
<!-- 右侧内容框架，更改从这里开始 -->
<span class="x-right" style="line-height:40px">共有职位：{{ choices|length }}条</span>
<table class="layui-table">
    <thead>
    <tr>
        <th>
            序号
        </th>
        <th>
            职位名称
        </th>
        <th>
            数量
        </th>
        <th>
            薪水
        </th>
        <th>
            工作小时
        </th>
        <th>
            意向者
        </th>
        <th>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    {% for choice in choices %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            <u style="cursor:pointer" onclick="member_show('{{ choice.job_id.job_name }}','/practice/enterprise/showjob/{{ choice.job_id.job_id }}/','800','500')">
                {{ choice.job_id.job_name }}
            </u>
        </td>
        <td >
            {{ choice.job_id.employ_num }}
        </td>
        <td >
            {{ choice.job_id.salary }}
        </td>
        <td >
            {{ choice.job_id.job_time }}
        </td>
        <td class="td-status">
            <u><a href="/practice/enterprise/information/{{ choice.stu_id.stu_id }}/">{{ choice.stu_id.stu_name }}</a></u>
        </td>
        <td class="td-manage">
            {% if not choice.result %}
            <a title="选择" href="/practice/enterprise/select/{{ choice.job_id.job_id }}/{{ choice.stu_id.stu_id }}/"
               class="ml-5" style="text-decoration:none">
                选择
            </a>
            {% else %}
                <b style="color:red">已选<b>
            {% endif %}&nbsp;&nbsp;
            <a title="删除" href="javascript:;" onclick="member_del(this, {{ choice.job_id.job_id }}, {{ choice.stu_id.stu_id }})"
               style="text-decoration:none">
                删除
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- 右侧内容框架，更改从这里结束 -->

<!-- 页面动态效果 -->
<script>

        /*用户-查看*/
        function member_show(title,url,w,h){
            x_admin_show(title,url,w,h);
        }

        /*用户-删除*/
        function member_del(obj, job_id, stu_id){
            layer.confirm('确认要删除吗？',function(index){
                //发异步删除数据
                $.ajax({url:"/practice/enterprise/deletechoice/"+ job_id +"/" + stu_id,async:false});
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        }

        </script>
{% endblock %}