<!doctype html>
<html lang="en">
<head>
{% load static %}
	<meta charset="UTF-8">
	<title>实习对接系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'practice/css/font.css' %}">
	<link rel="stylesheet" href="{% static 'practice/css/xadmin.css' %}">
    <link rel="stylesheet" href="{% static 'practice/css/swiper.min.css' %}">
    <script type="text/javascript" src="{% static 'practice/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'practice/js/swiper.jquery.min.js' %}"></script>
    <script src="{% static 'practice/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'practice/js/xadmin.js' %}"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="{% url 'practice:index' %}">实习对接系统</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="{% url 'practice:index' %}">个人信息</a></dd>
              <dd><a href="{% url 'practice:logout' %}">退出</a></dd>
            </dl>
          </li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li class="list" current>
                        <a href="{% url 'practice:index' %}">
                            <i class="iconfont">&#xe761;</i>
                            欢迎页面
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                    </li>
                    {% for parentmenu,childmenu in menu.items %}
                        <li class="list">
                            <a href="javascript:;">
                                <i class="iconfont">&#xe70b;</i>
                                {{ parentmenu }}
                                <i class="iconfont nav_right">&#xe697;</i>
                            </a>
                        {% for menu_name,url_name in childmenu.items %}
                        <ul class="sub-menu">
                            <li>
                                <a href="/practice/{{ role_name }}/{{ url_name }}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    {{ menu_name }}
                                </a>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                实习对接系统 Practice System <span class="f-14">v1.0</span>
            </blockquote>
            {% block frame %}
            {% endblock %}
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 Practice System All Rights Reserved.</div>
    </div>
    <!-- 底部结束 -->
    <!--背景切换开始-->
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/a.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/b.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/c.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/d.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/e.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/f.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/g.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/h.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/i.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/j.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img class="item" src="{% static 'practice/images/k.jpg' %}" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
    </div>
    <!-- 背景切换结束 -->
</body>
</html>